#mapView {
	display: flex;
}

#map {
	flex: 1;
	background-color: #eee;
}

#sidebar {
	width: 400px;
	min-height: 600px;
}

#sidebar .list-group-item {
	padding: 2px 10px;
}

#sidebar .list-group-item span {
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#sidebar .list-group-item span:first-child {
	width: 6em;
	font-weight: bold;
	margin-right: 10px;
}
