#filedrag {
	text-align: center;
	font-weight: bold;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover {
	color: #f00;
	border: 3px #f00 dashed;
}

#filedrag input[type="file"][hidden] {
    display: none;
}
