body {
	font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif;
	color: #333;
	background-color: #fff;
}

h1, h2 {
	font-size: 1.5em;
	font-weight: normal;
}

h2 {
	font-size: 1.3em;
}

legend {
	font-weight: bold;
	color: #333;
}

#brickyard-app {
	display: block;
	height: 800px;
	margin: 10px;
}

#brickyard-app .github-fork-ribbon:before {
	background-color: #5cb85c;
	height: 2.3em;
}

#brickyard-app .github-fork-ribbon:after {
	height: 2.1em;
}

#operations {
	display: none;
	padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: 2px solid gray;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
	}
	20% {
		 transform: scaleY(1.0);
		 -webkit-transform: scaleY(1.0);
	}
}
